Package: com.appcloner
Name: appcloner
Version: 0.0.1
Architecture: iphoneos-arm
Description: iOS App Cloner tweak
Maintainer: appcloner
Author: appcloner
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
